.exsistema-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9c9c9c;
  color: #e6e7e7;
  width: 180px;
  height: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
  position: relative;
}

.cuerpo {
  padding: 10px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.titulo {
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin: 13px auto auto auto;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: -3px;
  word-wrap: break-word;
  width: 90%;
  line-height: 1.2;
}

.tipo {
  font-size: 6px;
  font-weight: normal;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 2px;
}

.descripcion {
  font-size: 8px;
  font-weight: normal;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.react-flow__handle {
  z-index: 2; /* Asegura que los Handles se muestren por encima de los nodos */
}

